In [2]:
import csv
with open('data.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['Name', 'Age']
['Rijas', '21']
['Amina', '22']

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("netflix_mini_dataset.csv")

In [7]:
df.head()

             Title     Type  Release_Year      Genre   Duration Rating
0      The Witcher  TV Show          2019    Fantasy  2 Seasons  TV-MA
1  Stranger Things  TV Show          2016     Sci-Fi  4 Seasons  TV-14
2  BoJack Horseman  TV Show          2014  Animation  6 Seasons  TV-MA
3             Dark  TV Show          2017     Sci-Fi  3 Seasons  TV-MA
4     Breaking Bad  TV Show          2008      Crime  5 Seasons  TV-MA

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         5 non-null      object
 1   Type          5 non-null      object
 2   Release_Year  5 non-null      int64
 3   Genre         5 non-null      object
 4   Duration      5 non-null      object
 5   Rating        5 non-null      object
dtypes: int64(1), object(5)
memory usage: 372.0+ bytes

In [11]:
df["Genre"]

0      Fantasy
1       Sci-Fi
2    Animation
3       Sci-Fi
4        Crime
Name: Genre, dtype: object

In [12]:
df["Genre"].head()

0      Fantasy
1       Sci-Fi
2    Animation
3       Sci-Fi
4        Crime
Name: Genre, dtype: object

In [13]:
df[0:3]

             Title     Type  Release_Year      Genre   Duration Rating
0      The Witcher  TV Show          2019    Fantasy  2 Seasons  TV-MA
1  Stranger Things  TV Show          2016     Sci-Fi  4 Seasons  TV-14
2  BoJack Horseman  TV Show          2014  Animation  6 Seasons  TV-MA

In [16]:
df[df["Rating"] == "TV-MA"]

             Title     Type  Release_Year      Genre   Duration Rating
0      The Witcher  TV Show          2019    Fantasy  2 Seasons  TV-MA
2  BoJack Horseman  TV Show          2014  Animation  6 Seasons  TV-MA
3             Dark  TV Show          2017     Sci-Fi  3 Seasons  TV-MA
4     Breaking Bad  TV Show          2008      Crime  5 Seasons  TV-MA